workDir = "${params.work_dir}"
// workDir = "/scratch/apulido1/museum_short.reads_2025_4rd.samples.Germany/fastq2bam/work"

// ====================
// PROFILE DEFINITION
// ====================

profiles {
    // for command line execution
    standard {
        process.executor = 'local'
        errorStrategy = 'finish'
    }
    // for SLURM execution
    cluster {
        process {
            executor = 'slurm'
            errorStrategy = { task.exitStatus in [137, 143, 140] ? 'retry' : 'terminate' }
            maxRetries = 3
            clusterOptions = "--partition=cpu --account=${params.account}"
        }
    }
}

// ==========================
// PROCESS-SPECIFIC PARAMETERS
// ==========================


process {
    //container = "path_to_your_container"
    withName: getRG {
        cpus = 1
        memory = '256 MB'
        time = '10m'
        // array = 100
    }
    withLabel: fastqc {
        cpus   = { 1 * task.attempt }
        memory = { 1.GB * task.attempt }
        time   = { 30.m * task.attempt }
        // array = 100
    }

    withName: merge_overlaping_reads {
        cpus = { 3 * task.attempt }
        memory = { 2.GB * task.attempt } 
        time = { 2.h * task.attempt }
        // array = 100
    }    

    withName: trim_PE {
        cpus = { 3 * task.attempt }
        memory = { 3.GB * task.attempt } // restored to 3.GB (3GB, 6GB, 9GB on retries)
        time = { 2.h * task.attempt }
        // array = 100
    }    

    withName: trim_SE {
        cpus = { 2 * task.attempt }
        memory = { 3.GB * task.attempt } // restored to 3.GB (3GB, 6GB, 9GB on retries)
        time = { 4.h * task.attempt }
        // array = 100
    }    
    withName: bwa_map {
        cpus   = { 2 * task.attempt }  // 2, 4, 6 ...
        memory = { 8.GB * task.attempt } // 4, 8, 12 GB
        time   = '24.h'
        // array = 100
    }
    withName: read_groups {
        cpus = { 1 * task.attempt }
        memory = { 512.MB * task.attempt }
        time = { 15.m * task.attempt }
        // array = 100
    }    
    withName: sortbam {
        cpus   = { 2 * task.attempt }
        memory = { 2.GB * task.attempt }
        time   = { 30.m * task.attempt }
    }
    withName: merge_bams {
        cpus   = { 2 * task.attempt }
        memory = { 256.MB * task.attempt }
        time   = { 20.m * task.attempt } 
    }
    withName: qualimap {
        cpus = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
        // array = 100
    }
    withName: markdup {
        cpus   = 1 
        memory = { 20.GB * task.attempt }
        time   = { 1.h * task.attempt }
        // array = 100
    }         
     withLabel: coverage{ 
        cpus = { 1 * task.attempt }
        memory = { 512.MB * task.attempt }
        time = { 10.m * task.attempt }
    }       
    withLabel: sex_assign {
        cpus = { 1 * task.attempt }
        memory = { 512.MB * task.attempt }
        time = { 15.m * task.attempt }
    }
    withLabel: multiqc {
        cpus   = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
        time   = { 30.m * task.attempt }
    }
       withLabel: outtsv{
        cpus = { 1 * task.attempt }
        memory = { 5.GB * task.attempt }
        time = { 10.m * task.attempt }
    }
}

// ====================
// EXECUTION REPORTING
// ====================

report {
	enabled = params.enable_reports
	file = "${params.report_dir}/report.html"
    overwrite = true
}

timeline {
	enabled = params.enable_reports
	file = "${params.report_dir}/timeline.html"
    overwrite = true
}

trace {
	enabled = params.enable_reports
	file = "${params.report_dir}/trace.txt"
    overwrite = true
}

dag {
	enabled = params.enable_reports
	file = "${params.report_dir}/dag.svg"
    overwrite = true
}


// ====================
// MANIFEST (OPTIONAL)
// ====================
manifest {
    homePage = 'https://github.com/m-bachmann/nextflow-unil'
    description = 'HPC-ready Nextflow pipeline'
    mainScript = 'main.nf'
    version = '1.0.0'
}
